  

<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title">{{Name}} List</h1>
        <br/>
        <div class="pull-left">

			<a ui-sref="contact" class="btn btn-primary"> 
					<span class="glyphicon glyphicon-plus-sign"></span>Add new contact
			</a>        
        </div>

        <div class="pull-right">
            <div class="dropdown">
                <button class="btn btn-default btn-sm" type="button" data-toggle="dropdown">En
                <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                     <li><a href="#">Bn</a></li>
                  </ul>
            </div>
        </div> 
        <hr /> 
    </div>
	
    <div class="panel-body">
	
	    <div class="row">
			<div class="col-md-12">
				<div class="col-md-11">
					<div class="dynamicContent">
						<ul class="nav nav-list">
							
							<!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
								 AND if it is the link for the active contact (aka contactId) -->
							<li ng-repeat="item in ContactList" >

							  <!-- Here's a ui-sref that is also providing necessary parameters -->
								<a ui-sref="details({contactId:item.EmployeeId})">
									<b> {{item.FirstName}} </b>
									<br/>
									<small>{{item.Phone}}</small>
								</a>
												 
							</li>
						</ul>
								
						<div class="" id="loader">
							<img src="./image/loading.gif" height="40" width="40"/>
							LOADING...
						</div>					
					</div>
				</div>
				<div class="col-md-1">
					<ul class="nav nav-list">
						<li><a ui-sref="#">#</a></li>
						<li ng-repeat="alphbet in Alphabetlist">
						<a ng-click="test(alphbet)">{{alphbet}} </a></li>
						
					</ul>
				</div>
			</div>
		</div>
		
	</div>

   
</div>

